<template>
  <v-container fluid>
    <v-expansion-panels inset>
      <v-expansion-panel readonly="filterOpen">
        <v-expansion-panel-header>
          <v-text-field
            rounded
            fill
            v-model="filter.name"
            :label="$t('filter.name')"
          />
          <template v-slot:actions>
            <v-icon @click="filterOpen = !filterOpen" color="primary">
              $expand
            </v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row></v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
export default {
  name: "StoreVariantFilter",
  data: () => ({
    filterOpen: true,
    filter: {
      name: ""
    }
  })
};
</script>

<style scoped></style>
