<template>
  <v-container>
    <store-form :store="store" ref="form" />
    <v-card>
      <v-row>
        <v-btn
          tile
          block
          color="primary"
          v-text="$t('store.update')"
          @click="updateStore"
        />
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import StoreForm from "./StoreForm";
export default {
  name: "StoreDetails",
  components: { StoreForm },
  props: {
    store: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    storeData: null
  }),
  methods: {
    updateStore() {
      this.$refs.form.getStore();
    }
  }
};
</script>

<style scoped></style>
