<template>
  <v-card>
    <v-card-title>
      {{ $t("store.product") }}
    </v-card-title>
    <v-card-text>
      <selector-whit-create-dialog
        :items="products"
        :add-title="$t('store.storeVariant.new.product.create')"
        :item-text="name"
        component="Login"
      />
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn @click="$emit('finish')">
        Save
        <v-icon right>mdi-close-circle</v-icon>
      </v-btn>
      <v-btn @click="$emit('finish')">
        Cancel
        <v-icon right>mdi-close-circle</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import SelectorWhitCreateDialog from "../Commons/SelectorWhitCreateDialog";
export default {
  name: "StoreVariantForm",
  components: { SelectorWhitCreateDialog },
  data: () => ({
    descriptionLimit: 60,
    products: ["asda", "1231"],
    variants: [],
    isLoading: false,
    selectedProduct: null,
    selectedVariant: null,
    component: "Logina"
  })
};
</script>

<style scoped></style>
