<template>
  <v-container>
    <v-card>
      <store-form ref="form" />
    </v-card>
    <v-card>
      <v-btn block @click="createStore"> {{ $t("store.create") }} </v-btn>
    </v-card>
  </v-container>
</template>

<script>
import StoreForm from "./StoreForm";
export default {
  name: "StoreNew",
  components: { StoreForm },
  methods: {
    createStore() {
      this.$refs.form.getStore();
    }
  }
};
</script>

<style scoped></style>
