<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-row>
        <v-col align-self="center" align="center">
          <v-file-input
            v-model="file"
            placeholder="Upload your documents"
            label="File input"
            prepend-icon="mdi-clippy"
          >
            <template v-slot:selection="{ text }">
              <v-chip small label color="primary">
                {{ text }}
              </v-chip>
            </template>
          </v-file-input>
        </v-col>
        <v-col align-self="center" align="center">
          <v-select
            v-model="selectedItem"
            :items="items"
            label="Standard"
            dense
          />
        </v-col>
        <v-col align-self="center">
          <v-btn fab icon @click="sendFile">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <template v-slot:item.delete="{ item }">
      <v-icon @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:item.imageUrl="{ item }">
      <v-img max-height="75" max-width="75" :src="item.imageUrl" />
    </template>
    <template v-slot:item.price="{ item }">
      <v-row align="center">
        <v-col cols="4">
          <v-label>
            {{ item.price }}
          </v-label>
        </v-col>
        <v-col cols="2">
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-col>
      </v-row>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "StoreVariants",

  props: {
    store: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(["order", "authToken", "getShippingMethodsInfo"]),
    urlHeaders() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken,
        "Content-Type": "multipart/form-data"
      };
    },
    headers() {
      return [
        {
          align: "center",
          sortable: false,
          value: "delete"
        },
        {
          text: this.$t("store.variants.image"),
          align: "start",
          sortable: false,
          value: "imageUrl"
        },
        {
          text: this.$t("store.variants.productName"),
          value: "productName"
        },
        {
          text: this.$t("store.variants.variantName"),
          value: "variantName"
        },
        {
          text: this.$t("store.variants.price"),
          value: "price"
        },
        {
          text: this.$t("store.variants.stock"),
          value: "stock"
        }
      ];
    }
  },
  data: () => ({
    dialog: false,
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    },
    items: ["Product", "Variant", "Market-Variant"],
    selectedItem: "Market-Variant",
    file: null
  }),

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          imageUrl:
            "https://misanimales.com/wp-content/uploads/2018/11/pajaro-cantor.jpg",
          productName: "Frozen Yogurt",
          variantName: "200ml",
          price: "$ 50.00",
          stock: 0
        },
        {
          imageUrl:
            "https://misanimales.com/wp-content/uploads/2018/11/pajaro-cantor.jpg",
          productName: "Frozen Yogurt",
          variantName: "200ml",
          price: "$ 50.00",
          stock: 0
        },
        {
          imageUrl:
            "https://misanimales.com/wp-content/uploads/2018/11/pajaro-cantor.jpg",
          productName: "Frozen Yogurt",
          variantName: "200ml",
          price: "$ 50.00",
          stock: 0
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
    async sendFile() {
      const formData = new FormData();
      formData.append("file", this.file);
      await axios.post(this.buildUrl(), formData, {
        headers: this.urlHeaders
      });
    },
    buildUrl() {
      return `${
        process.env.VUE_APP_API_URL
      }/upload/${this.selectedItem.toLowerCase()}`;
    }
  }
};
</script>

<style scoped></style>
