<template>
  <v-card>
    <v-row>
      <v-text-field
        v-model="storeData.name"
        :label="$t('store.name')"
        outlined
        shaped
      />
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-expansion-panels>
          <v-expansion-panel v-for="(time, i) in storeData.openTimes" :key="i">
            <v-expansion-panel-header>
              <template v-slot:default="{ open }">
                <v-fade-transition leave-absolute>
                  <span
                    v-if="!open"
                    :key="i"
                    v-text="timeText(time)"
                    class="text--secondary"
                  />
                </v-fade-transition>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <range-time-picker
                :start="time.start"
                :end="time.end"
                :text-end="closeText"
                :text-start="openText"
              />
              <days-selector :days="time.days" />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              <span v-text="$t('store.time.new')" class="text--secondary" />
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <range-time-picker
                  ref="newTime"
                  :text-end="closeText"
                  :text-start="openText"
                />
              </v-row>
              <v-row>
                <days-selector ref="newDays" />
              </v-row>
              <v-row>
                <v-btn @click="addNewTime">
                  {{ $t("store.time.add") }}
                </v-btn>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols="6">
        <v-combobox
          v-model="storeData.categories"
          :items="categories"
          :label="$t('store.category')"
          multiple
          chips
        >
          <template v-slot:selection="data">
            <v-chip
              :key="JSON.stringify(data.item)"
              v-bind="data.attrs"
              :input-value="data.selected"
              :disabled="data.disabled"
              @click:close="data.parent.selectItem(data.item)"
            >
              <v-avatar
                class="accent white--text"
                left
                v-text="data.item.slice(0, 1).toUpperCase()"
              ></v-avatar>
              {{ data.item }}
            </v-chip>
          </template>
        </v-combobox>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import axios from "axios";

export default {
  name: "StoreForm",
  props: {
    store: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    storeData: {
      name: "",
      categories: [],
      openTimes: []
    },
    newTime: {
      start: "00:00",
      end: "12:00"
    },
    categories: []
  }),
  mounted() {
    this.storeData = this.store;
    this.getCategories();
  },
  computed: {
    openText() {
      return this.$t("store.time.open");
    },
    closeText() {
      return this.$t("store.time.close");
    }
  },
  methods: {
    addNewTime() {
      this.storeData.openTimes.push(this.$refs.newTime.getTimeRange());
      this.$refs.newTime.clearTime();
    },
    timeText(time) {
      return `${this.hourText(time)}${this.daysText(time.days)}`;
    },
    hourText(time) {
      return `${this.openText}: ${time.start}  - ${this.closeText}: ${time.end}`;
    },
    dayText(day) {
      return this.$t(`store.time.days.${day}.mini`);
    },
    daysText(days) {
      if (days.length === 0) {
        return "";
      }
      return ` | (${days
        .map(day => {
          return this.dayText(day);
        })
        .join(" / ")})`;
    },
    dayOfWeekAsInteger(day) {
      return [
        "MONDAY",
        "TUESDAY",
        "WEDNESDAY",
        "THURSDAY",
        "FRIDAY",
        "SATURDAY",
        "SUNDAY",
        "HOLIDAY"
      ].indexOf(day);
    },
    getStore() {
      return this.storeData;
    },
    async getCategories() {
      await axios
        .get(this.buildCategoriesUrl(), {
          headers: this.headers
        })
        .then(response => (this.categories = response.data.results));
    },
    buildCategoriesUrl() {
      return `${process.env.VUE_APP_API_URL}/stores/categories`;
    }
  }
};
</script>

<style scoped></style>
