<template>
  <v-card color="basil" flat>
    <v-tabs vertical>
      <v-tab v-for="tab in tabs" :key="tab.component">
        <v-icon left>{{ tab.icon }}</v-icon>
        <v-label>{{ $t(`store.${tab.component}`) }}</v-label>
      </v-tab>

      <v-tab-item v-for="tab in tabs" :key="tab.component">
        <component v-bind:is="tab.component" :store="store" />
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import StoreVariants from "../Store/StoreVariants";
import StoreDetails from "../Store/StoreDetails";

export default {
  name: "StoreEntities",
  components: { StoreVariants, StoreDetails },
  props: {
    store: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    tabs: [
      {
        component: "StoreDetails",
        icon: "mdi-one-up"
      },
      {
        component: "StoreVariants",
        icon: "mdi-one-up"
      }
    ]
  })
};
</script>

<style scoped></style>
