<template>
  <v-container fluid>
    <v-lazy
      v-model="isActive"
      :options="{
        threshold: 0.5
      }"
    >
      <v-row>
        <v-col align-self="center" align="right">
          <v-img :src="selectVariant.imageUrl" height="150" width="150" />
        </v-col>
        <v-divider vertical />
        <v-col cols="6">
          <v-list-item-title v-text="product.name" />

          <v-select
            v-model="selectVariant"
            :items="product.variants"
            item-text="description"
            :label="$t('variant')"
            return-object
            @change="selectStoreVariant = null"
          />
          <v-select
            v-model="selectStoreVariant"
            :items="selectVariant.storeVariants"
            item-text="store.name"
            :label="$t('market')"
            return-object
          />
        </v-col>
        <v-col align="center">
          <h1 v-text="`Price: $ ${priceToShow}`" />
          <v-container v-if="selectStoreVariant">
            <v-row>
              <v-col>
                <v-btn block rounded @click="discountQuantity">
                  <v-icon> mdi-minus</v-icon>
                </v-btn>
              </v-col>
              <v-col>
                <v-text-field
                  filled
                  dense
                  rounded
                  type="number"
                  class="centered-input inputPrice"
                  v-model="quantity"
                />
              </v-col>
              <v-col>
                <v-btn block rounded @click="addQuantity">
                  <v-icon> mdi-plus</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-spacer />
              <span
                v-text="
                  `${$t('store.available')}:
              ${selectStoreVariant.stock}`
                "
              />
              <v-spacer />
            </v-row>
            <v-row>
              <v-hover v-slot:default="{ hover }">
                <v-btn rounded block @click="persistChange">
                  <v-icon v-if="!hover"> mdi-cart</v-icon>
                  <v-label v-if="hover">
                    {{ $t("productsList.addToCart") }}
                  </v-label>
                </v-btn>
              </v-hover>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-lazy>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import axios from "axios";

export default {
  name: "ProductListItem",
  data: () => ({
    isActive: false,
    selectVariant: null,
    selectStoreVariant: null,
    quantity: 0
  }),
  computed: {
    ...mapGetters(["storeVariantQuantity", "userLoged", "authToken"]),
    headers() {
      let headers = { "Access-Control-Allow-Origin": "*" };
      if (this.userLoged) headers["Authorization"] = this.authToken;
      return headers;
    },
    priceToShow() {
      return this.selectStoreVariant !== null
        ? this.selectStoreVariant.price
        : "--,--";
    },
    variant() {
      let variant = { ...this.selectVariant, product: this.productData };
      delete variant.stores;
      return variant;
    },
    productData() {
      let product = { ...this.product };
      delete product.variants;
      delete product.productId;
      return product;
    },
    storeVariant() {
      let storeVariant = {
        ...this.selectStoreVariant,
        variant: this.variant
      };
      delete storeVariant.variants;
      return storeVariant;
    }
  },
  created() {
    this.selectVariant = this.product.variants[0];
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions(["modifyProductQuantity", "persistOrder"]),
    addQuantity() {
      if (this.selectStoreVariant.stock > this.quantity) {
        this.quantity = this.quantity + 1;
      }
    },
    discountQuantity() {
      if (this.quantity > 0) {
        this.quantity = this.quantity - 1;
      }
    },
    async persistChange() {
      if (this.userLoged) {
        await axios
          .post(this.buildItemUrl(), this.buildLineItem(), {
            headers: this.headers
          })
          .then(response => this.persistOrder(response.data))
          .catch(reason => console.log(reason));
      }
      this.modifyProductQuantity(this.buildLineItemChange());
    },
    buildLineItem() {
      return {
        code: this.selectStoreVariant.code,
        quantity: this.quantity
      };
    },
    buildLineItemChange() {
      return {
        ...this.buildLineItem(),
        store: this.selectStoreVariant.store,
        price: this.selectStoreVariant.price,
        total: this.selectStoreVariant.price * this.quantity,
        storeVariant: this.storeVariant
      };
    },
    buildItemUrl() {
      return `${process.env.VUE_APP_API_URL}/cart/items`;
    }
  }
};
</script>

<style>
.centered-input input {
  text-align: center;
}

.inputPrice input[type="number"] {
  -moz-appearance: textfield;
}

.inputPrice input::-webkit-outer-spin-button,
.inputPrice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>
