<template>
  <v-list>
    <v-list-item v-for="(product, i) in products" :key="i">
      <product-list-item :product="product" />
    </v-list-item>
  </v-list>
</template>

<script>
import ProductListItem from "./ProductListItem";
export default {
  name: "ProductsList",
  components: { ProductListItem },
  props: {
    products: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
