<template>
  <div>
    <v-row>
      <v-col>
        <v-card-text> Filtros Aplicados </v-card-text>
        <v-scroll-x-transition group>
          <v-chip
            v-for="(filter, i) in Object.keys(selectedFilters)"
            :key="i"
            color="black"
            dark
            close
            @click:close="removeFilter(filter)"
            class="ma-1 primary--text"
          >
            <v-icon left small>mdi-ocarina</v-icon>
            {{ `${filter} : ${selectedFilters[filter]}` }}
          </v-chip>
        </v-scroll-x-transition>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-list>
      <v-list-group
        v-for="filter in filters"
        :key="filter.name"
        prepend-icon="mdi-ocarina"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="filter.name" />
          </v-list-item-content>
        </template>
        <v-list-item
          v-for="option in filter.options"
          :key="option.name"
          @click="addToFilter(filter.name, option)"
        >
          <v-list-item-content>
            <v-list-item-title>
              {{ option }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "ProductFilters",
  props: {
    filters: {
      type: Array,
      required: true
    }
  },
  computed: {
    selectedFilters() {
      return this.$route.query;
    }
  },
  methods: {
    addToFilter(filter, option) {
      this.$router.push({
        query: Object.assign(
          {},
          this.$route.query,
          JSON.parse(`{"${filter}": "${option}"}`)
        )
      });
    },
    removeFilter(filter) {
      let queries = JSON.parse(JSON.stringify(this.$route.query));
      delete queries[filter];

      this.$router.push({
        query: queries
      });
    }
  }
};
</script>
