<template>
  <v-list>
    <v-list-group prepend-icon="mdi-account-circle">
      <template v-slot:activator>
        <v-list-item-title>My profile</v-list-item-title>
      </template>

      <v-list-group no-action sub-group>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Attendants</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item
          v-for="attendant in attendants"
          :key="attendant.title"
          link
        >
          <v-list-item-title v-text="attendant.title"></v-list-item-title>
          <v-list-item-icon>
            <v-icon v-text="attendant.icon" />
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <v-list-item v-for="user in users" :key="user.title" link>
        <v-list-item-title v-text="user.title"></v-list-item-title>
        <v-list-item-action>
          <v-icon v-text="user.icon" />
        </v-list-item-action>
      </v-list-item>
    </v-list-group>
  </v-list>
</template>

<script>
export default {
  name: "AccountListItems",
  data: () => ({
    attendants: [
      {
        title: "offers",
        path: "/admin/offers",
        icon: "mdi-account"
      },
      {
        title: "products",
        path: "/admin/products"
      }
    ],
    users: [
      {
        title: "offers",
        path: "/admin/offers",
        icon: "mdi-account"
      },
      {
        title: "products",
        path: "/admin/products"
      }
    ]
  })
};
</script>

<style scoped></style>
