<template>
  <v-list subheader>
    <v-subheader>Categories</v-subheader>
    <v-list-item v-for="category in categories" :key="category.title" link>
      <v-list-item-action>
        <v-icon>mdi-cog</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title v-text="category.title"></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  name: "CategoryListItems",
  data: () => ({
    categories: [
      {
        title: "gaseosas",
        path: "/admin/offers",
        icon: "mdi-account"
      },
      {
        title: "lacteos",
        path: "/admin/products"
      }
    ]
  })
};
</script>

<style scoped></style>
