<template>
  <v-container fluid>
    <v-row>
      <v-col cols="11">
        <v-card-title>
          {{
            `${address.street} ${address.number} - ${address.floor} ${address.department}`
          }}
        </v-card-title>
        <v-card-subtitle v-text="`${address.town} - ${address.state}`" />
      </v-col>
      <v-col cols="1" align="end" align-self="end">
        <v-btn icon dark>
          <v-icon>
            mdi-trash-can
          </v-icon>
        </v-btn>

        <v-btn icon dark>
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "AddressBox",
  props: {
    address: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
