<template>
  <v-list>
    <v-list-item v-for="(address, index) in addresses" :key="index">
      <address-box :address="address" />
    </v-list-item>
  </v-list>
</template>

<script>
import AddressBox from "./AddressBox";
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "AddressList",
  components: { AddressBox },
  data: () => ({
    addresses: [],
    selectedAddress: null
  }),
  computed: {
    ...mapGetters(["userLoged", "authToken"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    }
  },
  created() {
    this.getAddresses();
  },
  methods: {
    async getAddresses() {
      await axios
        .get(this.buildAddressUrl(), {
          headers: this.headers
        })
        .then(response => (this.addresses = response.data.results));
    },
    buildAddressUrl() {
      return `${process.env.VUE_APP_API_URL}/addresses`;
    }
  }
};
</script>

<style scoped></style>
