<template>
  <v-list>
    <v-list-item v-for="userField in Object.keys(user)" :key="userField">
      <v-list-item-title class="text--secondary">
        {{ $t(`user.${userField}`) }}
      </v-list-item-title>
      <v-list-item-subtitle v-text="user[userField]" />
    </v-list-item>
  </v-list>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "UserDataList",

  data: () => ({
    user: {}
  }),
  created() {
    this.getUser();
  },
  computed: {
    ...mapGetters(["userLoged", "authToken"]),
    headers() {
      let headers = { "Access-Control-Allow-Origin": "*" };
      if (this.userLoged) headers["Authorization"] = this.authToken;
      return headers;
    }
  },
  methods: {
    async getUser() {
      await axios
        .get(this.buildUserUrl(), {
          headers: this.headers
        })
        .then(response => (this.user = response.data));
    },
    buildUserUrl() {
      return `${process.env.VUE_APP_API_URL}/users`;
    }
  }
};
</script>

<style scoped></style>
