<template>
  <v-container>
    <store-order
      v-for="storeOrder in order.storeOrders"
      :store-order="storeOrder"
      :key="storeOrder.id"
    />
  </v-container>
</template>

<script>
import StoreOrder from "./StoreOrder";
import { mapGetters } from "vuex";
export default {
  name: "Cart",
  components: { StoreOrder },
  computed: {
    ...mapGetters(["order", "userLoged"])
  },
  methods: {
    readyToPass() {
      return this.userLoged;
    }
  }
};
</script>

<style scoped></style>
