<template>
  <v-row>
    <v-list-item-content>
      <v-list-item-title v-text="lineItem.storeVariant.variant.product.name" />
      <v-list-item-subtitle
        class="text--primary"
        v-text="lineItem.storeVariant.variant.description"
      ></v-list-item-subtitle>
      <v-list-item-subtitle
        v-text="
          `${lineItem.price} / ${lineItem.quantity} ${$t(
            'locale.quantityUnit'
          )}| ${lineItem.total} `
        "
      ></v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-avatar>
      <v-img :src="lineItem.storeVariant.variant.imageUrl"></v-img>
    </v-list-item-avatar>
  </v-row>
</template>

<script>
export default {
  name: "LineItem",
  props: {
    lineItem: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
