<template>
  <v-card>
    <v-card-title>
      <h4 v-text="storeOrder.store.name" />
    </v-card-title>
    <v-card-text>
      <v-list>
        <v-list-item
          v-for="lineItem in storeOrder.lineItems"
          :key="lineItem.id"
        >
          <line-item :line-item="lineItem" />
        </v-list-item>
      </v-list>
      <v-row class="align-content-end">
        <v-text-field
          :label="$t('checkout.parcialTotal')"
          filled
          rounded
          dense
          readonly
          prefix="$"
          :value="$n(storeOrder.total)"
        />
      </v-row>
      <v-divider />
    </v-card-text>
  </v-card>
</template>

<script>
import LineItem from "./LineItem";
export default {
  name: "StoreOrder",
  components: { LineItem },
  props: {
    storeOrder: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
