<template>
  <v-card>
    <v-list>
      <v-list-item
        v-for="address in addresses"
        :key="address.code"
        link
        @click="selectAddress(address)"
      >
        <v-list-item-title>
          {{ addressFirstLine(address) }}
        </v-list-item-title>
        <v-list-item-subtitle v-text="addressSecondLine(address)" />
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AddressSelect",
  props: {
    storeOrderCode: {
      type: String,
      required: true
    }
  },
  data: () => ({
    selectedAddress: null,
    addresses: []
  }),
  computed: {
    ...mapGetters(["authToken"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    }
  },
  mounted() {
    this.getAddresses();
  },
  methods: {
    ...mapActions(["addAdditionalInfoToShipping"]),
    addressFirstLine(address) {
      return `${address.street} ${address.number} - ${address.floor} ${address.department}`;
    },
    addressSecondLine(address) {
      return `${address.town} - ${address.state}`;
    },
    async getAddresses() {
      await axios
        .get(this.buildAddressUrl(), {
          headers: this.headers
        })
        .then(response => (this.addresses = response.data.results));
    },
    buildAddressUrl() {
      return `${process.env.VUE_APP_API_URL}/addresses`;
    },
    selectAddress(address) {
      this.selectedAddress = address;
      this.addAdditionalInfoToShipping({
        additional: address.code,
        orderCode: this.storeOrderCode
      });
    }
  }
};
</script>

<style scoped></style>
