<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        v-for="(storeOrder, i) in storeOrders"
        :complete="e1 > i + 1"
        :step="i + 1"
        :key="i + 1"
      >
        {{ storeOrder.store.name }}
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content
        v-for="(storeOrder, i) in storeOrders"
        :step="i + 1"
        :key="i + 1"
      >
        <shipping-method-selector :store-order-code="storeOrder.store.code" />

        <v-btn
          v-if="storeOrders.length >= i + 1"
          color="primary"
          @click="nextStep(i + 1)"
        >
          Continue
        </v-btn>

        <v-btn text>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { mapGetters } from "vuex";
import ShippingMethodSelector from "./ShippingMethodSelector";

export default {
  name: "ShippingMethodStepper",
  components: { ShippingMethodSelector },
  computed: {
    ...mapGetters(["storeOrders"])
  },
  data() {
    return {
      e1: null
    };
  },
  mounted() {
    this.e1 = 1;
  },
  methods: {
    nextStep(stepNumber) {
      this.e1 = stepNumber + 1;
    },
    readyToPass() {
      return this.storeOrders.reduce(
        (bool, storeOrder) => this.shippingMethodComplete(storeOrder) && bool
      );
    },
    shippingMethodComplete(storeOrder) {
      return storeOrder.shippingMethod && storeOrder.shippingMethod.additional;
    }
  }
};
</script>

<style scoped></style>
