<template>
  <v-container>
    <v-card>
      <v-row>
        <v-col cols="6" v-for="sm in shippingMethods" :key="sm">
          <v-card
            :color="selectedColor(sm)"
            class="ma-2 text--black"
            link
            @click="choiceShipmentMethod(sm)"
          >
            <v-card-title class="headline">
              {{ $t(`checkout.shipping.${sm.toLowerCase()}.title`) }}
            </v-card-title>

            <v-card-subtitle>
              {{ $t(`checkout.shipping.${sm.toLowerCase()}.description`) }}
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card v-if="selectedShippingMethod === 'PICKUP'">
            <turn-select :store-order-code="storeOrderCode" />
          </v-card>
          <v-card v-if="selectedShippingMethod === 'DELIVERY'">
            <address-select :store-order-code="storeOrderCode" />
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import TurnSelect from "./TurnSelect";
import AddressSelect from "./AddressSelect";

export default {
  name: "ShippingMethodSelector",
  components: { AddressSelect, TurnSelect },
  props: {
    storeOrderCode: {
      type: String,
      required: true
    }
  },
  data: () => ({
    shippingMethods: ["DELIVERY", "PICKUP"],
    selectedShippingMethod: null
  }),
  computed: {
    ...mapGetters(["storeOrders", "getShippingMethod"])
  },
  methods: {
    ...mapActions(["selectShippingMethod"]),
    selectedColor(sm) {
      return this.selectedShipmentMethod === sm ? "primary" : null;
    },
    choiceShipmentMethod(shippingOption) {
      this.selectedShippingMethod = shippingOption;
      this.selectShippingMethod({
        orderCode: this.storeOrderCode,
        shippingOption: shippingOption
      });
    }
  }
};
</script>

<style scoped></style>
