<template>
  <v-container class="scroll-stepper">
    <v-calendar
      :events="events"
      type="week"
      :interval-minutes="15"
      :first-interval="32"
      :interval-count="64"
      :short-intervals="false"
      @click:event="selectEvent"
      :event-color="getEventColor"
    />
  </v-container>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "TurnSelect",
  props: {
    storeOrderCode: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters(["authToken"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    }
  },
  data: () => ({
    selectedTurn: null,
    events: []
  }),
  mounted() {
    this.getEvents();
  },
  methods: {
    ...mapActions(["addAdditionalInfoToShipping"]),
    getEventColor(event) {
      return event.color;
    },
    selectEvent(eventObj) {
      this.addAdditionalInfoToShipping({
        orderCode: this.storeOrderCode,
        additional: eventObj.event.start
      });
    },
    async getEvents() {
      await axios
        .get(this.buildTurnsUrl(), {
          headers: this.headers
        })
        .then(response => this.setTurns(response.data.turns));
    },
    buildTurnsUrl() {
      return `${process.env.VUE_APP_API_URL}/stores/${this.storeOrderCode}/turns`;
    },
    setTurns(turnsList) {
      this.events = turnsList.reduce(
        (array, day) =>
          array.concat(
            day.turns.map(turn => {
              return {
                name: "",
                start: `${day.date} ${turn}`
              };
            })
          ),
        []
      );
    }
  }
};
</script>

<style scoped></style>
