<template>
  <v-container>
    <v-stepper v-model="checkoutStep" vertical>
      <v-stepper-step :complete="checkoutStep > 1" step="1">
        {{ $t("checkout.cart.line1") }}
        <small>{{ $t("checkout.cart.line2") }}</small>
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-card>
          <v-container class="scroll-stepper">
            <cart ref="cart" />
          </v-container>
        </v-card>
        <v-btn color="primary" @click="passTo(nextState(order.state))">
          {{ `${$t("checkout.passTo")} ${$t(nextState(order.state))}` }}
        </v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="checkoutStep > 2" step="2">
        {{ $t("checkout.shipping.line1") }}
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-card>
          <v-container class="scroll-stepper">
            <shipping-method-stepper ref="shipping" />
          </v-container>
        </v-card>
        <v-btn color="primary" @click="passTo(nextState(order.state))">
          {{ `${$t("checkout.passTo")} ${$t(nextState(order.state))}` }}
        </v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="checkoutStep > 3" step="3">
        {{ shippingAditionalText }}
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-btn color="primary" @click="passTo(nextState(order.state))">
          {{ `${$t("checkout.passTo")} ${$t(nextState(order.state))}` }}
        </v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-container></template
>

<script>
import { mapActions, mapGetters } from "vuex";
import ShippingMethodStepper from "../Order/Shipping/ShippingMethodStepper";
import Cart from "../Order/Cart/Cart";
import axios from "axios";

export default {
  name: "CartStepper",
  components: { Cart, ShippingMethodStepper },
  computed: {
    ...mapGetters(["order", "authToken", "getShippingMethodsInfo"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    },
    shippingAditionalText() {
      if (!this.selectedShipmentMethod)
        return this.$t("checkout.shippingMethod.default");
      return this.$t(
        `checkout.shippingMethod.${this.selectedShipmentMethod}.line1`
      );
    }
  },
  methods: {
    ...mapActions(["selectShippingMethod", "changeStateTo", "deleteOrder"]),
    passTo(state) {
      console.log(state);
      if (state === "SHIPPING") this.passToShipping();
      if (state === "PAYMENT") this.passToPayment();
      if (state === "FINISH") this.passToFinish();
      this.checkoutStep = this.getStepId(state);
    },
    async passToShipping() {
      await axios
        .post(this.buildPostOrderUrl(this.order.state), null, {
          headers: this.headers
        })
        .then(() => this.changeStateTo(this.nextState(this.order.state)))
        .catch(reason => reason);
    },
    async passToPayment() {
      console.log(this.buildPassToPaymentBody());
      await axios
        .post(
          this.buildPostOrderUrl(this.order.state),
          this.buildPassToPaymentBody(),
          {
            headers: this.headers
          }
        )
        .then(() => this.changeStateTo(this.nextState(this.order.state)))
        .catch(reason => reason);
    },
    async passToFinish() {
      await axios
        .post(this.buildPostOrderUrl(this.order.state), null, {
          headers: this.headers
        })
        .then(() => this.finishOrder())
        .catch(reason => reason);
    },
    buildPostOrderUrl(state) {
      return `${process.env.VUE_APP_API_URL}/checkout/pass-to/${this.nextState(
        state
      ).toLowerCase()}`;
    },
    nextState(state) {
      return {
        CART: { next: "SHIPPING", id: 1 },
        SHIPPING: { next: "PAYMENT", id: 2 },
        PAYMENT: { next: "FINISH", id: 3 },
        FINISH: { next: null, id: null }
      }[state].next;
    },
    getStepId(state) {
      return {
        CART: { next: "SHIPPING", id: 1 },
        SHIPPING: { next: "PAYMENT", id: 2 },
        PAYMENT: { next: "FINISH", id: 3 },
        FINISH: { next: null, id: null }
      }[state].id;
    },
    finishOrder() {
      this.deleteOrder();
      this.refresh();
      this.$emit("finishOrder");
    },
    refresh() {
      this.checkoutStep = 1;
    },
    buildPassToPaymentBody() {
      return {
        storeOrders: this.getShippingMethodsInfo
      };
    }
  },
  mounted() {
    this.refresh();
  },
  data: () => ({
    checkoutStep: 1,
    selectedShipmentMethod: null
  })
};
</script>

<style scoped></style>
