<template>
  <div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-cart</v-icon>
        </v-btn>
      </template>
      <v-container>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Carrito</v-toolbar-title>
        </v-toolbar>
        <v-row>
          <v-col cols="9">
            <cart-stepper ref="stepper" v-on:finish-order="finishOrder" />
          </v-col>
          <v-col cols="3">
            <cart-total />
          </v-col>
        </v-row>
      </v-container>
    </v-dialog>
    <v-dialog v-model="finishOrder" width="500">
      <v-card>
        <v-card-title class="headline success lighten-2">
          Compra Finalizada
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import CartStepper from "./CartStepper";
import CartTotal from "./CartTotal";

export default {
  name: "CartDialog",
  components: { CartTotal, CartStepper },
  computed: {
    ...mapGetters(["order", "authToken"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    },
    shippingAditionalText() {
      if (!this.selectedShipmentMethod)
        return this.$t("checkout.shippingMethod.default");
      return this.$t(
        `checkout.shippingMethod.${this.selectedShipmentMethod}.line1`
      );
    }
  },

  data: () => ({
    dialog: false,
    finishOrder: false
  }),
  methods: {
    ...mapActions(["changeStateTo"]),
    changeDrawer() {
      this.drawer = !this.drawer;
    },
    closeDialog() {
      this.changeStateTo("CART");
      this.$refs.stepper.refresh();
      this.dialog = false;
    },
    orderFinished() {
      this.closeDialog();
      this.finishOrder = true;
    }
  }
};
</script>
