<template>
  <v-card color="primary" style="position: absolute" width="20%">
    <v-card class="ma-6">
      <v-list>
        <v-list-item>
          <v-row>
            <v-text-field
              :label="$t('checkout.parcialTotal')"
              filled
              rounded
              dense
              readonly
              :value="$n(order.totalAmount)"
            />
          </v-row>
        </v-list-item>
        <v-list-item>
          <v-row>
            <v-text-field
              :label="$t('checkout.discount')"
              filled
              rounded
              dense
              readonly
              :value="$n(order.totalDiscount)"
            />
          </v-row>
        </v-list-item>
        <v-list-item>
          <v-row>
            <v-card-title v-text="$t('checkout.total')" />
            <v-spacer />
            <v-card-title v-text="$n(order.total)" />
          </v-row>
        </v-list-item>
      </v-list>
    </v-card>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "CartTotal",
  computed: {
    ...mapGetters(["order", "authToken"])
  }
};
</script>

<style scoped></style>
