<template>
  <div>
    <v-navigation-drawer clipped app dark>
      <product-filters :filters="products.filters" />
    </v-navigation-drawer>
    <v-content>
      <products-list :products="products.results" />
    </v-content>
  </div>
</template>

<script>
import axios from "axios";
import ProductsList from "../components/Products/ProductsList";
import ProductFilters from "../components/Products/ProductFilters";

axios.defaults.headers.post["Content-Type"] =
  "application/x-www-form-urlencoded";

export default {
  name: "Products",
  components: { ProductFilters, ProductsList },
  mounted() {
    this.getProducts();
  },
  data: () => ({
    products: {
      results: [],
      filters: []
    }
  }),
  methods: {
    buildProductUrl() {
      return `${process.env.VUE_APP_API_URL}/products`;
    },
    async getProducts() {
      await axios
        .get(this.buildProductUrl(), {
          headers: { "Access-Control-Allow-Origin": "*" },
          params: this.$route.query
        })
        .then(response => (this.products = response.data));
    }
  },
  watch: {
    "$route.query"() {
      this.getProducts();
    }
  }
};
</script>
