<template>
  <v-card>
    <v-tabs fixed-tabs background-color="indigo" dark v-model="tabModel">
      <v-tab v-for="tab in tabs" :key="tab" v-text="$t(tab)" />
    </v-tabs>
    <v-tabs-items v-model="tabModel">
      <v-tab-item v-for="tab in tabs" :key="tab">
        <component v-bind:is="tab" />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import MyOrders from "../components/MyProfile/MyOrders";
import MyProfile from "../components/MyProfile/MyProfile";
export default {
  name: "Profile",
  components: { MyProfile, MyOrders },
  data() {
    return {
      tabModel: null,
      tabs: ["MyProfile", "MyOrders"]
    };
  }
};
</script>

<style scoped></style>
