<template>
  <v-card>
    <v-tabs fixed-tabs background-color="primary" dark v-model="tabModel">
      <v-tab v-for="store in stores" :key="store.code" v-text="store.name" />
      <v-tab key="newStore" v-text="$t('store.new')" />
    </v-tabs>
    <v-tabs-items v-model="tabModel">
      <v-tab-item v-for="store in stores" :key="store.code">
        <store-entities :store="store" />
      </v-tab-item>
      <v-tab-item key="newStore">
        <store-new />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import StoreEntities from "../components/Store/StoreEntities";
import StoreNew from "../components/Store/StoreNew";
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "Store",
  components: { StoreNew, StoreEntities },
  data() {
    return {
      tabModel: null,
      stores: []
    };
  },
  computed: {
    ...mapGetters(["authToken", "userLoged"]),
    headers() {
      let headers = { "Access-Control-Allow-Origin": "*" };
      if (this.userLoged) headers["Authorization"] = this.authToken;
      return headers;
    }
  },
  mounted() {
    this.getStores();
  },
  methods: {
    async getStores() {
      if (this.userLogued) return [];
      await axios
        .get(this.buildStoreUrl(), {
          headers: this.headers
        })
        .then(response => (this.stores = response.data.results));
    },
    buildStoreUrl() {
      return `${process.env.VUE_APP_API_URL}/stores`;
    }
  }
};
</script>

<style scoped></style>
