<template>
  <v-card color="basil" flat>
    <v-tabs vertical v-model="selectedOrder">
      <v-tab v-for="order in orders" :key="order.number">
        <v-icon left>mdi-cart</v-icon>
        {{ order.code }}
      </v-tab>

      <v-tab-item v-for="order in orders" :key="order.number">
        <v-card>
          <v-card-text v-text="order.code" />

          <v-card
            v-for="storeOrder in order.storeOrders"
            :key="storeOrder.code"
          >
            <v-list two-line>
              <v-list-item-title>
                {{ `${storeOrder.store.name} $ (${storeOrder.total})` }}
              </v-list-item-title>
              <v-list-item-group multiple active-class="pink--text">
                <template v-for="(item, index) in storeOrder.lineItems">
                  <v-list-item :key="item.title">
                    <template>
                      <v-list-item-content>
                        <v-list-item-title v-text="productName(item)" />
                        <v-list-item-subtitle
                          class="text--primary"
                          v-text="variantName(item)"
                        />
                        <v-list-item-subtitle v-text="priceLine(item)" />
                      </v-list-item-content>

                      <v-list-item-avatar>
                        <v-img :src="item.storeVariant.variant.imageUrl" />
                      </v-list-item-avatar>
                    </template>
                  </v-list-item>

                  <v-divider
                    v-if="index + 1 < storeOrder.lineItems.length"
                    :key="index"
                  />
                </template>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "MyOrders",
  data: () => ({
    selectedOrder: true,
    orders: []
  }),
  computed: {
    ...mapGetters(["userLoged", "authToken"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    }
  },
  mounted() {
    this.getOrders();
  },
  methods: {
    async getOrders() {
      await axios
        .get(this.buildOrderUrl(), {
          headers: this.headers
        })
        .then(response => (this.orders = response.data.results));
    },
    buildOrderUrl() {
      return `${process.env.VUE_APP_API_URL}/orders`;
    },
    productName(item) {
      return item.storeVariant.variant.product.name;
    },
    variantName(item) {
      return `${item.storeVariant.variant.description} ($ ${item.price})`;
    },
    priceLine(item) {
      return `$ ${item.total} / ${item.quantity} ${this.$t(
        "locale.quantityUnit"
      )}`;
    }
  }
};
</script>

<style scoped></style>
