<template>
  <v-container fluid>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>
          {{ $t("userData") }}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card>
            <user-data-list />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          {{ $t("myAddress") }}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card>
            <address-list />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import AddressList from "../Commons/Address/AddressList";
import UserDataList from "../Commons/User/UserDataList";

export default {
  name: "MyProfile",
  components: { UserDataList, AddressList }
};
</script>
