<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        dark
        v-bind="attrs"
        v-on="on"
        :fab="fab"
        :icon="fab"
      >
        <v-icon v-if="fab">
          mdi-plus
        </v-icon>
        <v-label v-else>
          {{ buttonText }}
        </v-label>
      </v-btn>
    </template>
    <component v-bind:is="component" @finish="dialog = false" />
  </v-dialog>
</template>

<script>
import StoreVariantForm from "../Store/StoreVariantForm";
export default {
  name: "CreateDialog",
  props: {
    component: {
      type: String,
      required: true
    },
    buttonText: {
      type: String,
      required: true
    },
    fab: {
      type: Boolean,
      default: false
    }
  },
  components: { StoreVariantForm },
  data: () => ({
    dialog: false
  })
};
</script>

<style scoped></style>
