<template>
  <v-row fluid>
    <v-col v-for="day in posibleDays" :key="day" cols="3">
      <v-switch
        inset
        v-model="selectedDays"
        :label="$t(`store.time.days.${day}.full`)"
        :value="day"
      ></v-switch>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "DaysSelector",
  props: {
    days: {
      value: Array,
      default: []
    }
  },
  mounted() {
    this.selectedDays = this.days;
  },
  data() {
    return {
      selectedDays: [],
      posibleDays: [
        "monday",
        "tuesday",
        "wednesday",
        "thursday",
        "friday",
        "saturday",
        "sunday",
        "holiday"
      ]
    };
  }
};
</script>

<style scoped></style>
