<template>
  <v-card class="mx-auto my-12" max-width="374">
    <v-tabs
      v-model="tab"
      background-color="deep-purple accent-4"
      centered
      dark
      icons-and-text
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab href="#login">
        Login
        <v-icon>mdi-heart</v-icon>
      </v-tab>
      <v-tab href="#register">
        Register
        <v-icon>mdi-phone</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item value="register">
        <v-container>
          <v-card>
            <v-text-field
              v-model="email"
              :rules="[rules.required, rules.email]"
              :label="$t('login.email')"
            />
            <v-text-field v-model="username" :label="$t('login.name')" />
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="showPassword ? 'text' : 'password'"
              name="input-10-1"
              :label="$t('login.password.label')"
              :hint="$t('login.password.hint')"
              counter
              @click:append="showPassword = !showPassword"
            />

            <v-btn color="primary" block @click="register()">Register</v-btn>
          </v-card>
        </v-container>
      </v-tab-item>
      <v-tab-item value="login">
        <v-container>
          <v-card>
            <v-text-field
              v-model="username"
              :rules="[rules.required]"
              :label="$t('login.name')"
            />
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="showPassword ? 'text' : 'password'"
              name="input-10-1"
              :label="$t('login.password.label')"
              :hint="$t('login.password.hint')"
              counter
              @click:append="showPassword = !showPassword"
            />
            <v-btn color="primary" block @click="login()">login</v-btn>
          </v-card>
        </v-container>
      </v-tab-item>
    </v-tabs-items>
    <v-divider />
    <v-btn color="primary" block @click="authenticate('facebook')">
      auth Facebook
    </v-btn>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Login",
  data: () => ({
    tab: "login",
    username: "",
    password: "",
    email: "",
    showPassword: false,
    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters",
      emailMatch: () => "The email and password you entered don't match",
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      }
    }
  }),
  computed: {
    ...mapGetters(["order", "authToken", "getLineItems"]),
    headers() {
      return {
        "Access-Control-Allow-Origin": "*",
        Authorization: this.authToken
      };
    }
  },
  methods: {
    ...mapActions(["persistLogin", "persistOrder"]),
    login: function() {
      this.$auth
        .login({ username: this.username, password: this.password })
        .then(response => {
          this.successLogin(response.data);
        });
    },
    register: function() {
      this.$auth
        .register({
          email: this.email,
          username: this.username,
          password: this.password
        })
        .then(response => {
          this.successLogin(response.data);
        });
    },
    authenticate: function(provider) {
      this.$auth.authenticate(provider).then(response => {
        this.persistLogin(response.data);
      });
    },
    successLogin(loginData) {
      this.persistLogin(loginData);
      this.sendOrder();
    },
    buildOrderPut() {
      return {
        lineItems: this.getLineItems
      };
    },
    async sendOrder() {
      console.log(this.buildOrderPut());
      console.log(this.headers);
      await axios
        .put(this.buildUrl(), this.buildOrderPut(), {
          headers: this.headers
        })
        .then(response => this.persistOrder(response.data))
        .catch(reason => reason);
    },

    buildUrl() {
      return `${process.env.VUE_APP_API_URL}/orders`;
    }
  }
};
</script>

<style scoped></style>
