<template>
  <v-app-bar :collapse-on-scroll="true" clipped-left dark app min-width="15%">
    <v-menu open-on-hover bottom offset-y close-on-content-click>
      <template v-slot:activator="{ on }">
        <v-app-bar-nav-icon v-on="on" />
      </template>
      <v-card>
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            @click="redirect(item.path)"
            link
          >
            <v-icon>mdi-ocarina</v-icon>
            <v-list-item-title align="end">
              {{ $t(`global.menu.${item.title}`) }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
    <v-img
      :src="require('../../assets/logo.svg')"
      @click="redirect('/')"
      contain
      height="50"
      position="start"
      width="50"
    />
    <v-toolbar-title>Guavi</v-toolbar-title>

    <v-spacer />

    <router-link to="/my-profile" v-if="userLoged">
      <v-btn icon>
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </router-link>

    <router-link to="/store">
      <v-btn icon>
        <v-icon>mdi-store</v-icon>
      </v-btn>
    </router-link>
    <cart-dialog />
  </v-app-bar>
</template>

<script>
import CartDialog from "../CartDialog/CartDialog";
import { mapGetters } from "vuex";
export default {
  name: "NavBar",
  components: { CartDialog },
  data: () => ({
    collapseOnScroll: true,
    items: [{ title: "allProducts", path: "/products" }]
  }),
  computed: {
    ...mapGetters(["userLoged"])
  },
  methods: {
    redirect(path) {
      this.$router.push(path);
    }
  }
};
</script>
