<template>
  <v-row>
    <v-col>
      <v-menu
        ref="menuStart"
        v-model="menuStart"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="time.start"
            :label="textStart"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="menuStart"
          v-model="time.start"
          :max="time.end"
          full-width
          @click:minute="$refs.menuStart.save(time)"
        ></v-time-picker>
      </v-menu>
    </v-col>
    <v-col>
      <v-menu
        ref="menuEnd"
        v-model="menuEnd"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="time.end"
            :label="textEnd"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="menuEnd"
          v-model="time.end"
          :min="time.start"
          full-width
          @click:minute="$refs.menuEnd.save(time)"
        ></v-time-picker>
      </v-menu>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "RangeTimePicker",
  props: {
    start: {
      type: String,
      default: null
    },
    end: {
      type: String,
      default: null
    },
    textStart: {
      type: String,
      default: null
    },
    textEnd: {
      type: String,
      default: null
    }
  },
  data: () => ({
    time: {
      start: null,
      end: null
    },
    menuStart: false,
    menuEnd: false
  }),
  mounted() {
    this.time.end = this.end;
    this.time.start = this.start;
  },
  methods: {
    getTimeRange() {
      return this.time;
    },
    clearTime() {
      this.time = {
        start: null,
        end: null
      };
    }
  }
};
</script>

<style scoped></style>
