<template>
  <v-select
    v-model="selectedItem"
    :items="items"
    :item-text="itemText"
    :label="label"
    return-object
  >
    <template v-slot:append-item>
      <v-dialog v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-divider class="mb-2"></v-divider>
          <v-list-item link v-bind="attrs" v-on="on">
            <v-list-item-avatar>
              <v-icon>mdi-plus</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ addTitle }}
              </v-list-item-title>
              <v-list-item-subtitle v-if="addSubtitle">
                {{ addSubtitle }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
        <v-card>
          <component v-bind:is="component" />
        </v-card>
      </v-dialog>
    </template>
  </v-select>
</template>

<script>
export default {
  name: "SelectorWhitCreateDialog",
  props: {
    items: {
      type: Array,
      required: true
    },
    addTitle: {
      type: String,
      required: true
    },
    component: {
      type: String,
      required: true
    },
    itemText: {
      type: String,
      required: true
    },
    addSubtitle: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: null
    }
  },
  watch: {
    selectedItem(item) {
      this.$emit("selectItem", item);
    }
  },
  data: () => ({
    selectedItem: null,
    dialog: false
  }),
  methods: {
    getSelectedItem() {
      return this.selectedItem;
    }
  }
};
</script>

<style scoped></style>
