<template>
  <v-navigation-drawer v-model="drawer" app clipped>
    <category-list-items />
  </v-navigation-drawer>
</template>

<script>
import CategoryListItems from "./SideNav/CategoryListItems";
export default {
  name: "SideNav",
  components: { CategoryListItems },
  data: () => ({
    drawer: false
  }),
  methods: {
    changeDrawer() {
      this.drawer = !this.drawer;
    }
  }
};
</script>

<style scoped></style>
