<template>
  <v-app>
    <nav-bar @clickCart="$refs.cart.changeDrawer()" />
    <cart-side-nav ref="cart" />
    <v-content>
      <router-view />
    </v-content>
    <v-footer app>
      <span>Guavi 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import NavBar from "./components/Commons/NavBar";
import CartSideNav from "./components/CartDialog/CartDialog";
export default {
  name: "App",
  components: { CartSideNav, NavBar },
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>

<style>
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
